# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
migrations/

# Unittest / Coverage report
.coverage
.pytest_cache/
coverage-reports/
xunit-reports/

**/.DS_Store
.vscode/
DQN_preTrained/
PPO_logs/
data/network_traces/mix_high
data/network_traces/mix_medium
data/network_traces/mix_low
data/network_traces/mix_train
data/network_traces/mix_mixed